<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Count Change</title>
  </head>
  <body>
    <h1>Results</h1>
      <ul>

        <li>{{ output.quarter }} Quarters</li>
        <li>{{ output.dime }} Dimes</li>
        <li>{{ output.nickel }} Nickels</li>
        <li>{{ output.penny }} Pennies</li>

    </ul>
    <a href='/'><button type='button'>Home</button></a>
  </body>
</html>
